pipes-c
*.swp
*.o
Makefile
Makefile.in
aclocal.m4
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
*.tar.gz
.deps
.dirstamp
stamp-h1
# Don't include test files
test-suite
test_locale
test_locale.*
test_locale.*
